name: 'Build and Scan'
on: push
jobs:
  gradle:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: jetbrains
          java-version: 21

      - name: 'Setup Gradle'
        uses: gradle/gradle-build-action@v3

      - name: 'Gradle test'
        run: ./gradlew test integrationTest --tests com.salesforce.revoman.integration.pokemon.PokemonTest
